VITE_FIREBASE_API_KEY=test
VITE_FIREBASE_PROJECT_ID=test
VITE_FIREBASE_BASE_URL=https://firestore.googleapis.com/v1/projects/test/databases/(default)/documents
VITE_CLOUDINARY_CLOUD_NAME=test
VITE_CLOUDINARY_UPLOAD_PRESET=test
VITE_RAZORPAY_KEY_ID=test
